html {
    background-image: linear-gradient(to bottom right,#4A0C83, #3587EB);
    height: 100%;
}
/* @keyframes changing_gradient {
    from {
        background-image: linear-gradient(to bottom right,#4A0C83, #3587EB);
    }
    to {
        background-image: linear-gradient(to bottom right,#3587EB, #4A0C83);
    }
} */
body {
    background-image: linear-gradient(to bottom right,#4A0C83, #3587EB);
    height: 300vh;
    animation-name: changing_gradient;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    height: 80px;
    padding-top: 1vh;
    position: fixed;
    width: 100%;
    z-index: 10;
    background: inherit;
    background-attachment: fixed;
}
#name_tag {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #E8E4E5;
    font-size: 50px;
    position: absolute;
    left: 5vh;
    top: 2.5vh;
    animation-name: test;
    animation-duration:1s;
}
@keyframes test {
    0%   {transform: translate(-100%, 0); opacity: 0%; }
    100% {transform: translate(0%, 0); opacity: 100%;}

}


/************************************** HEADER BUTTONS ***********************************************/

.head_flex {
    display: flex;
    justify-content: right;
    gap: 1vw;
    padding-right: 3vw;
    position: fixed;
    width: 96%;
    z-index: 10;
    background-color: initial;
}
button {
    background: none;
    border: none;
}
.head_flex button {
    font-family: "Quicksand", sans-serif;
    padding-top: 2.5vh;
    font-size: 2em;
    color: #E8E4E5;
    transition: .5s;
    animation-name: test2;
    animation-duration: 1s;
}
@keyframes test2 {
    0%   {transform: translate(-25%, 0); opacity: 0%; }
    100% {transform: translate(0%, 0); opacity: 100%;}
}
.head_flex #in_b button {
    font-size: 2em; 
    color: #E8E4E5;
}
.head_flex #gh_b button {
    font-size: 2em; 
    color: #E8E4E5;
}
.head_flex button:hover {
    cursor: pointer;
    transition: .5s;
    transform: scale(1.2,1.2)
               skewX(5deg);
}

/************************************** HEADER BUTTONS ***********************************************/

/************************************** LANDING PAGE BPDY CONTENT ***********************************************/
.self_pic img {
    border-radius: 40%;
    height: 40vh;
    display: block;
    margin: auto;
}
.welcome_message #hey{
    transform: rotate(-25deg);
    width: fit-content;
    margin-top: 5vh;
    margin-bottom: 2vh;
    animation-name: hey_right;
    animation-duration: 2s;
    z-index: 5;
}
@keyframes hey_right {
    from {
        left: -10vw; top: 4.5vh; opacity: 0%;
    }
    to {
        left: 3vw; top: 4.5vh; opacity: 100%;
    }
}
.welcome_message {
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    color: #E8E4E5;
    font-size: 15vh;
    text-shadow: 5px 0px 5px #4A0C83;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 40vw;
    min-width: 500px;

}
.about {
    color: #E8E4E5;
    width: 50vw;
    text-align: center;
    font-size: 5vh;
    font-family: "Quicksand", sans-serif;
    border-top: dotted 5px #3587EB;
    padding-top: 30px;
}
.right_box {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 20px;
    flex-wrap: nowrap;
}
.b_background {
    margin-left: 3vh;
    margin-right: 3vh;
    min-height: 87vh;
    width: 97vw;
    background-color: #15182C;
    position: absolute;
    box-shadow: inset rgba(0, 0, 0, 0.25) 0px 14px 28px, inset rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 80px;
}
/************************************** LANDING PAGE BPDY CONTENT ***********************************************/

/************************************** PROJECT SECTION ***********************************************/
.Project_section {
    position: absolute;
    top: 100vh;
    right: 0;
    width: 100%;
    height: 100vh;
    border-top-left-radius: 50% 200%;

}
.projects_box {
    width: 100vw;
    align-content: center;
}
.Projects_title {
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size: 100px;
    right: 50vw;
    text-align: center;
    padding-top: 10vh;
}
.projects_box {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
    max-width: fit-content;
} 
.projects_box div { 
    background-color: lightblue;
    height: 20vh;
    width: 20vw;
    transition: .5s;
    margin-left: 20px;
    margin-top: 5vh;
}
.projects_box .Proj_one {
    background-image: url("../Images/Hackathon_Project.png");
    background-size: cover;
    background-position: center;
}
.projects_box div:hover {
    background-color: white;
    transform: scale(1.03);
    transition: .5s;
}

/************************************** PROJECT SECTION ***********************************************/

/************************************** SKILL SECTION ***********************************************/
.skills_section {
    color: white;
    position: absolute;
    top: 200vh;
    height: 100vh;
    width: 100%;
}
/************************************** SKILL SECTION ***********************************************/

/************************************** FOOTER ***********************************************/
footer {
    color: black;
    position: absolute;
    height: 10vh;
    width: 100%;
    top: 300vh;
    background-color: white;
}